body {
  background-color: #8a8a8a;
  color: #fff;
  font-size: 10px;
  width: 360px;
  height: 100%;
  font-family: roboto, sans-serif;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 2em; /* 20px */
}

h2 {
  font-size: 1.8em; /* 18px */
  font-family: open sans, sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.6em; /* 16px */
  font-family: open sans, sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 1.4em; /* 14px */
}

.container {
  background-color: #0B2535;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.status-bar {
  position: absolute;
  top: 0;
}

.nav-bar {
  height: 12%;
  width: 100%;
  padding-left: 4%;
  padding-top: 6%;
}

.nav-text {
padding: 5.25% 16%;
}

.back-icon {
float: left;
padding-top: 5%;
}

.map {
  background-image: url("../images/map.png");
  width: 360px;
  height: 250px;
  margin-bottom: 1px;
}

 .bus-stop {
  position: relative;
  left: 75px;
  top: 20px;
}

.toggle {
  background-color: #E9F4FB;
  color: #0B2535;
  margin-bottom: 1px;
  height: 48px;
  text-align: center;
}

.left-tog {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid #0B2535;
/*  border-bottom: 3px solid #E86055; */
  padding-top: 4%;
}

.right-tog {
  float: right;
  width: 50%;
  height: 100%;
  padding-top: 4%;
  border-bottom: 3px solid #E86055;
}

.bus-info {
  height: 10%;
}

.info-button {
  width: 100%;
  height: 100%;
  background-color: #E9F4FB;
  color: #0B2535;
  margin-bottom: 1px;
}

.LT-text {
  text-align: left;
  padding: 15px 0px 5px 15px;
}

.LB-text {
  text-align: left;
  padding: 0px 0px 15px 15px;
}

.LT-text-alert {
  text-align: left;
  padding: 15px 0px 5px 38px;
}

.alert {
  position: absolute;
  padding: 17px 0px 0px 15px;
}

.disable {
  background-color: #e5e5e5;
  color: #666;
}
